* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom right, #49a09d, #5f2c82) no-repeat;
    background-size: 100% 100vh;
}

h1 {
    color: #ffffff;
    line-height: 79px;
    font-weight: 800;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

audio {

    border-radius: 10px;

}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: flex-end;
    /* position:fixed;
    width:100%; */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0, 0, 0, 0.20);
    color: white;
    text-decoration: none;
}

#exampleFormControlFile1 {
    text-align: center;
    padding: 25px;
    width: 25rem;
    height: 10rem;
    margin: 100px 25px 25px 25px;
    border: 1px solid;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

/* .btn-light {
    position: relative;
    transition: .5s ease;
    top: 200px;
    left: 420px;
    right: 440px;
    bottom: -191px;
}

.btn-primary {
    position: relative;
    top: 200px;
    left: 100px;


}

.btn-secondary {
    position: relative;
    top: 200px;
    left: 180px;
}


.audio-element1 {
    position: relative;
    top: 10px;
    left: 80px;
}

.btn-info {
    position: relative;
    top: 200px;
    left: 800px;
}*/

.btn-secondary {

    background-color: white;
    border-radius: 20px;
    color: rgb(43, 0, 25);

}

.btn-outline-secondary {
    /* border-radius: 20px; */
    /* border: 2px solid #887e7e; */
    color: rgb(201, 39, 88);


}

.jumbotron {
    margin: 15px 30px 0px 30px;
    border-radius: 10px;
    background: rgba(36, 33, 35, 0.418);
    opacity: 0.8;
    border-color: black;
    padding: 20px;

}

#clickable {
    text-align: center;
    padding: 25px;
    width: 25rem;
    height: 10rem;
    margin: 100px 25px 25px 25px;
    border: 1px solid;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

#clickable:hover {
    font-weight: bolder;
    color: #552572;
    border: 2px solid;
    background-color: rgba(255, 255, 255, 0.226);
}

.meh {
    display: flex;
    justify-content: center;
}

.container-bottom {
    text-align: center;
    font-size: small;
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    color: white;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0.25rem;
}

.navbar-brand {
    /* background-color: rgb(94, 40, 40); */
    /* margin-right: 900px; */
    position: absolute;
    left: 0px;

}
