ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover{

    color: rgb(124, 62, 51);
}

.navbar-brand {
    position: fixed;
    left: 0px;

}

#nav1{
    position: fixed;
    right: 230px;
    
}

#nav2{
    position: fixed;
    right: 73px;
}

#nav3{
    position: fixed;
    right: 0px;
    
    
}